# Data pre-processing
# Add category of 'publicly exposed person' in new column 'new_category'

## Import libraries

In [1]:
import pandas as pd
import numpy as np

## Import Dataset

In [2]:
data = pd.read_csv('large.csv', index_col = 0)

In [3]:
data.head()

,category,turnover,transaction_count,io_ratio,age,nationality,is_pep,inactive_days_average,inactive_days_max,n_of_accounts,distinct_counterparties,channel_risk,atm_withdrawal,atm_deposit
cif,,,,,,,,,,,,,,
90000000,0,217673.05,125,0.304000,40,123,0,1.66,88,1,3,0.254742,1937.15,2161.790028
90000001,0,57.42,20,0.250000,17,90,0,7.32,88,4,6,0.393174,4.96,0.893866
90000002,0,1465076.90,1,0.000000,66,123,0,24.08,25,2,1,0.422991,0.00,229.333494
90000003,0,429840.54,46,0.239130,43,90,0,3.88,86,2,17,0.296019,43123.33,3121.939606
90000004,2,93356190.65,63,0.365079,0,186,0,2.77,100,1,1,0.067511,1814340.25,603026.545700

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 90000000 to 90999999
Data columns (total 14 columns):
category                   1000000 non-null int64
turnover                   1000000 non-null float64
transaction_count          1000000 non-null int64
io_ratio                   1000000 non-null float64
age                        1000000 non-null int64
nationality                1000000 non-null int64
is_pep                     1000000 non-null int64
inactive_days_average      1000000 non-null float64
inactive_days_max          1000000 non-null int64
n_of_accounts              1000000 non-null int64
distinct_counterparties    1000000 non-null int64
channel_risk               1000000 non-null float64
atm_withdrawal             1000000 non-null float64
atm_deposit                1000000 non-null float64
dtypes: float64(6), int64(8)
memory usage: 114.4 MB

In [5]:
print(data.isna().sum())

category                   0
turnover                   0
transaction_count          0
io_ratio                   0
age                        0
nationality                0
is_pep                     0
inactive_days_average      0
inactive_days_max          0
n_of_accounts              0
distinct_counterparties    0
channel_risk               0
atm_withdrawal             0
atm_deposit                0
dtype: int64

## Add category of 'publicly exposed person' in new column 'new_category'

- 0: Normal individual   
- 1: Company   
- 2: Other institution   
- 3: is_pep individual

In [6]:
data['is_pep'].value_counts()

0    993149
1      6851
Name: is_pep, dtype: int64

In [7]:
data['category'].value_counts()

0    699757
1    199956
2    100287
Name: category, dtype: int64

In [8]:
data['new_category'] = data['category']

In [9]:
for idx, row in data.iterrows():
    if data.loc[idx, ('is_pep')] == 1:
        data.loc[idx, ('new_category')] = 3

In [10]:
data['new_category'].value_counts()

0    692906
1    199956
2    100287
3      6851
Name: new_category, dtype: int64

## Save new dataframe

In [11]:
data.to_csv('large_new_category.csv')